/*
  公用的颜色和长度等单位 minxin function等 放在这里, 每个组件的scss文件都可以引用,不会被打包进最终的css
*/
$them-color: #59b9d6;
$bg-color: #eeeeef;
$btn-color: #43a0ff;

@function turnToRem($px) {
  @return 64px * $px / 75px / 32px * 1rem;
}

/*
  px 转换 rem
*/
@function px2rem($px, $base-font-size: 32px) {
  @if (unitless($px)) {
  @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
  @return px2rem($px + 0px); // That may fail.
  } @else if (unit($px) == rem) {
@return $px;
}
  @return ($px / $base-font-size) * 1rem;
}

/*
  根据屏幕dpr改变字体大小
*/
@mixin font-dpr($font-size) {
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }
}

/*
  根据不同dpr切换不同清晰度图片 常规 2x 和 3x
*/
@mixin bg-image($image) {
  background-image: url("../../assets/img/" + $image + ".png") !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;

  [data-dpr="2"] & {
    background-image: url("../../assets/img/" + $image + "@2x.png") !important;
  }

  [data-dpr="3"] & {
    background-image: url("../../assets/img/" + $image + "@3x.png") !important;
  }
}
