$w-750: 750px;
$titleColor: #323232;
@mixin ellipsis($num) {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
  overflow: hidden;
}

#root {
  width: $w-750;
  margin: 0 auto;
  background-color: #f5f5f9;
}
