$w-750: 750px;
$titleColor: #323232;
@mixin ellipsis($num) {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
  overflow: hidden;
}

#root {
  width: $w-750;
  margin: 0 auto;
  background-color: #f5f5f9;
}

.floor-title {
  $h-77: 77px;
  height: $h-77;
  line-height: $h-77;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;

  .title {
    font: {
      size: 28px;
      weight: 700;
    }
    color: $titleColor;
  }

  .more {
    font-size: 22px;
    color: #69ccf5;

    &::after {
      display: inline-block;
      content: '';
      width: 14px;
      height: 14px;
      border: 1px solid #69ccf5;
      border-width: 1px 1px 0 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.task-list {
  width: 100%;
  margin-bottom: 20px;

  li {
    margin-top: 2px;
    background-color: #fff;

    img {
      width: $w-750;
      height: 150px;
    }
  }
}

.recommend-goods {
  width: 100%;
  margin-bottom: 20px;

  ul {
    margin-left: -3px;
  }

  li {
    float: left;
    width: 248px;
    height: 376px;
    margin-left: 3px;
    margin-top: 3px;
    padding: 20px 20px 0;
    background-color: #fff;

    img {
      display: inline-block;
      width: 208px;
      height: 208px;
      margin: 0 auto;
    }

    .title {
      @include ellipsis(2);
      margin-top: 18px;
      margin-bottom: 28px;
      font-size: 22px;
      color: $titleColor;
      line-height: 26px;
    }

    .price {
      font: {
        size: 28px;
        weight: 700;
      }
      color: #f60;

      &-icon {
        margin-right: 7px;
      }
    }
  }
}

.ad-floor {
  font-size: 0;

  .ad {
    width: 100%;
  }
}

.bottom-floor {
  .bottom {
    width: 100%;
    height: 231px;
    padding-top: 160px;
    background: url("./../../images/bottom.png") center 32px no-repeat;
    background-size: 95px 121px;
    text-align: center;

    &-text {
      color: #ccccce;
      font-size: 22px;
    }
  }
}
