<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../vue.js"></script>
</head>
<body>
<div id="app">
    <!--<h1>show message</h1>-->
    <!--{{message}}-->
    <!--<input  v-model="message" type="text"/>-->

    <!--<ul >-->
        <!--<li v-for="item in list">{{$index}}:{{item.text}}</li>-->
    <!--</ul>-->

    <!--<ul >-->
        <!--<li v-for="(index,item) in list">{{index}}:{{item.text}}</li>-->
    <!--</ul>-->

    <ul >
        <li v-for="item of list" track-by="id">{{item.id}}:{{item.text}}</li>
    </ul>

    <!--<ul>-->
        <!--<template v-for="item in list">-->
            <!--<li>{{ item.text }}</li>-->
            <!--<li class="divider">ttt</li>-->
        <!--</template>-->
    <!--</ul>-->

    <!--<button v-on:click="showMessage">click me</button>-->

    <!--<h1>add todos</h1>-->
    <!--<p>-->
        <!--<input v-model="newTodo" v-on:keyup.enter="addTodo">-->
    <!--<ul>-->
        <!--<li v-for="todo in todos">-->
            <!--<span>{{ todo.text }}</span>-->
            <!--<button v-on:click="removeTodo($index)">X</button>-->
        <!--</li>-->
    <!--</ul>-->
    <!--</p>-->
</div>

<script>
    var app = new Vue({
        el:'#app',
        data:{
            message: 'hello world',
            list:[
                { text: 'Learn Vue.js', id: "2" },
                { text: 'Learn JavaScript', id: "1" },
                { text: 'Learn Vue.js', id: "3" },
                { text: 'Build Something Awesome', id: "4" }
            ],
            newTodo: '',
            todos: [
                { text: 'Add some todos' }
            ]
        },
        methods:{
            showMessage:function(){
                this.message= this.message.split('').reverse().join('')
            },
            addTodo: function () {
                var text = this.newTodo.trim()
                if (text) {
                    this.todos.push({ text: text })
                    this.newTodo = ''
                }
            },
            removeTodo: function (index) {
                this.todos.splice(index, 1)
            }
        }
    })
</script>
</body>
</html>
